mixed-port: 7890
allow-lan: false
mode: rule
log-level: info
ipv6: true
external-controller: 127.0.0.1:9090

dns:
  enabled: true
  listen: 0.0.0.0:1053
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  nameserver:
    - https://cloudflare-dns.com/dns-query
    - https://dns.google/dns-query

tun:
  enable: true
  stack: system
  auto-route: true
  auto-detect-interface: true
  strict-route: true

proxy-providers:
  VPN-PROVIDER:
    type: file
    path: ./proxies.yaml
    interval: 0

proxy-groups:
  - name: VPN
    type: select
    use:
      - VPN-PROVIDER

rule-providers:
  discord-domains:
    type: http
    behavior: classical
    url: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Discord/Discord.yaml
    path: ./ruleset/discord-domains.yaml
    interval: 86400

rules:
  - PROCESS-NAME,Discord.exe,VPN
  - RULE-SET,discord-domains,VPN
  - MATCH,DIRECT
